html > body {
  background-color: #f5f5f5;
  height: 100%;
  transition: background-color 0.5s ease, color 0.5s ease;
  overflow-x: hidden;
}

:root,
[data-bs-theme=light] {
 --bs-blue: #5e72e4;
 --bs-indigo: #5603ad;
 --bs-purple: #8965e0;
 --bs-pink: #f3a4b5;
 --bs-red: #f5365c;
 --bs-orange: #8c0505;
 --bs-yellow: #ffd600;
 --bs-green: #2dce89;
 --bs-teal: #11cdef;
 --bs-cyan: #2bffc6;
 --bs-gray: #8898aa;
 --bs-light: #ced4da;
 --bs-lighter: #e9ecef;
 --bs-gray-dark: #32325d;
 --bs-gray-100: #f6f9fc;
 --bs-gray-200: #e9ecef;
 --bs-gray-300: #dee2e6;
 --bs-gray-400: #ced4da;
 --bs-gray-500: #adb5bd;
 --bs-gray-600: #8898aa;
 --bs-gray-700: #525f7f;
 --bs-gray-800: #32325d;
 --bs-gray-900: #212529;
 --bs-gray-f5: #f5f5f5;
 --bs-gray-248: #f8f8f8;
 --bs-gray-140: #8c4205;
 --bs-gray-205: #cd5656;
 --bs-gray-197: #c58d38;
 --bs-gray-209: #d1d1d1;
 --bs-gray-4: #047006;
 --bs-default: #172b4d;
 --bs-primary: #5e72e4;
 --bs-secondary: #f7fafc;
 --bs-success: #2dce89;
 --bs-info: #11cdef;
 --bs-warning: #8c0505;
 --bs-danger: #f5365c;
 --bs-white: #fff;
 --bs-neutral: #fff;
 --bs-dark: #212529;
 --bs-darker: black;
 --bs-f5: #f5f5f5;
 --bs-248: #f8f8f8;
 --bs-140: #8c4205;
 --bs-205: #cd5656;
 --bs-197: #c58d38;
 --bs-209: #d1d1d1;
 --bs-4: #047006;
 --bs-primary-rgb: 13, 110, 253;
 --bs-secondary-rgb: 108, 117, 125;
 --bs-success-rgb: 25, 135, 84;
 --bs-info-rgb: 13, 202, 240;
 --bs-warning-rgb: 255, 193, 7;
 --bs-danger-rgb: 220, 53, 69;
 --bs-light-rgb: 248, 249, 250;
 --bs-dark-rgb: 33, 37, 41;
 --bs-primary-text-emphasis: #052c65;
 --bs-secondary-text-emphasis: #2b2f32;
 --bs-success-text-emphasis: #0a3622;
 --bs-info-text-emphasis: #055160;
 --bs-warning-text-emphasis: #664d03;
 --bs-danger-text-emphasis: #58151c;
 --bs-light-text-emphasis: #495057;
 --bs-dark-text-emphasis: #495057;
 --bs-primary-bg-subtle: #cfe2ff;
 --bs-secondary-bg-subtle: #e2e3e5;
 --bs-success-bg-subtle: #d1e7dd;
 --bs-info-bg-subtle: #cff4fc;
 --bs-warning-bg-subtle: #fff3cd;
 --bs-danger-bg-subtle: #f8d7da;
 --bs-light-bg-subtle: #fcfcfd;
 --bs-dark-bg-subtle: #ced4da;
 --bs-primary-border-subtle: #9ec5fe;
 --bs-secondary-border-subtle: #c4c8cb;
 --bs-success-border-subtle: #a3cfbb;
 --bs-info-border-subtle: #9eeaf9;
 --bs-warning-border-subtle: #ffe69c;
 --bs-danger-border-subtle: #f1aeb5;
 --bs-light-border-subtle: #e9ecef;
 --bs-dark-border-subtle: #adb5bd;
 --bs-white-rgb: 255, 255, 255;
 --bs-black-rgb: 0, 0, 0;
 --bs-font-sans-serif: open sans, sans-serif;
 --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
 --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, .15), rgba(255, 255, 255, 0));
 --bs-body-font-family: open sans, sans-serif;
 --bs-body-font-size: 1rem;
 --bs-body-font-weight: 400;
 --bs-body-line-height: 1.5;
 --bs-body-color: #525f7f;
 --bs-body-color-rgb: 82, 95, 127;
 --bs-body-bg: #fff;
 --bs-body-bg-rgb: 255, 255, 255;
 --bs-emphasis-color: #000;
 --bs-emphasis-color-rgb: 0, 0, 0;
 --bs-secondary-color: rgba(33, 37, 41, .75);
 --bs-secondary-color-rgb: 33, 37, 41;
 --bs-secondary-bg: #e9ecef;
 --bs-secondary-bg-rgb: 233, 236, 239;
 --bs-tertiary-color: rgba(33, 37, 41, .5);
 --bs-tertiary-color-rgb: 33, 37, 41;
 --bs-tertiary-bg: #f8f9fa;
 --bs-tertiary-bg-rgb: 248, 249, 250;
 --bs-heading-color: #32325d;
 --bs-link-color: #5e72e4;
 --bs-link-color-rgb: 94, 114, 228;
 --bs-link-decoration: none;
 --bs-link-hover-color: #233dd2;
 --bs-link-hover-color-rgb: 35, 61, 210;
 --bs-link-hover-decoration: none;
 --bs-code-color: #d63384;
 --bs-highlight-color: #212529;
 --bs-highlight-bg: #fcf8e3;
 --bs-border-width: 1px;
 --bs-border-style: solid;
 --bs-border-color: #e9ecef;
 --bs-border-color-translucent: rgba(0, 0, 0, .175);
 --bs-border-radius: .375rem;
 --bs-border-radius-sm: .25rem;
 --bs-border-radius-lg: .4375rem;
 --bs-border-radius-xl: .5rem;
 --bs-border-radius-xxl: 2rem;
 --bs-border-radius-2xl: var(--bs-border-radius-xxl);
 --bs-border-radius-pill: 50rem;
 --bs-box-shadow: 0 0 2rem 0 rgba(136, 152, 170, .15);
 --bs-box-shadow-sm: 0 0 .5rem rgba(136, 152, 170, .075);
 --bs-box-shadow-lg: 0 0 3rem rgba(136, 152, 170, .175);
 --bs-box-shadow-inset: inset 0 1px 2px rgba(0, 0, 0, .075);
 --bs-focus-ring-width: .25rem;
 --bs-focus-ring-opacity: .25;
 --bs-focus-ring-color: rgba(13, 110, 253, .25);
 --bs-form-valid-color: #198754;
 --bs-form-valid-border-color: #198754;
 --bs-form-invalid-color: #dc3545;
 --bs-form-invalid-border-color: #dc3545
}

.pointer {
  cursor: pointer;
}

.bg-gradido-gradient {
  background: rgb(4 112 6);
  background: linear-gradient(90deg, rgb(4 112 6 / 100%) 22%, rgb(197 141 56 / 100%) 98%) !important;
  color: white !important;
}

.hover-icon:hover {
  background-color: rgb(220 216 217);
  border-radius: 29px;
  padding: 1px;
}

.hover-font-bold:hover {
  font-weight: bold;
}

.word-break {
  word-break: break-word;
}

.shadow-default {
  box-shadow: rgb(0 0 0 / 14%) 0 4px 10px;
}

.c-grey {
  color: #383838 !important;
}

.c-blau {
  color: #0e79bc !important;
}

.app-box-shadow {
  box-shadow: 20pt 20pt 50pt 0 #3838384f !important;
}

/* Navbar  */
a,
.navbar-light,
.navbar-nav,
.nav-link {
  color: #047006 !important;
}

a:hover,
.nav-link:hover {
  color: #383838 !important;
}

.navbar-light .navbar-nav .nav-link.active {
  color: rgb(35 121 188 / 90%);
}

/* Button */
.btn {
  border-radius: 25px;
}

.btn-gradido {
  display: inline-block !important;
  padding: 0.6em 3em !important;
  letter-spacing: 0.05em;
  color: #fff !important;
  transition: all 0.5s ease !important;
  background: rgb(249 205 105);
  background: linear-gradient(135deg, rgb(249 205 105 / 100%) 2%, rgb(197 141 56 / 100%) 55%);
  box-shadow: rgb(0 0 0 / 40%) 0 30px 90px;
  border-radius: 26px !important;
  padding-right: 50px !important;
  padding-left: 50px !important;
  border-style: none !important;
}

.btn-gradido:hover {
  color: #fff;
  box-shadow: 0 5px 10px rgb(0 0 0 / 20%);
}

.btn-gradido:focus {
  outline: none;
}

.btn-gradido-disable {
  padding: 0.6em 3em !important;
  letter-spacing: 0.05em;
  color: #fff !important;
  transition: all 0.5s ease !important;
  background: rgb(97 97 97);
  background: linear-gradient(135deg, rgb(180 180 180 / 100%) 46%, rgb(180 180 180 / 100%) 99%);
  box-shadow: rgb(0 0 0 / 40%) 0 30px 90px;
  border-radius: 26px !important;
  padding-right: 50px !important;
  padding-left: 50px !important;
  border-style: none !important;
}

.btn-gradido-disable:hover {
  color: #fff;
}

.btn-outline-gradido {
  color: rgb(140 121 88);
  border: 1px solid #f5b805;
  box-shadow: 10px 10px 50px 10px rgb(56 56 56 / 31%);
}

.btn-outline-gradido:hover {
  box-shadow: 10px 10px 50px 10px rgb(56 56 56 / 0%);
}

.form-control,
.form-select {
  border-radius: 17px;
  height: 50px;
}

.input-group .rounded-end {
  border-top-right-radius: 17px !important;
  border-bottom-right-radius: 17px !important;
}

.rounded-26 {
  border-radius: 26px;
}

.alert {
  border-radius: 26px;
  box-shadow: rgb(0 0 0 / 14%) 0 24px 80px;
}

.alert-success {
  background-color: #d4edda;
  border-color: #c3e6cb;
  color: #155724;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

// .btn-primary pim {
.btn-primary {
  background-color: #5a7b02 !important;
  border-color: #5e72e4 !important;
  border-radius: 25px !important;
  color: #fff !important;
}

.gradido-font-large {
  font-size: large;
  height: auto !important;
}

.font2em {
  font-size: 1.5em;
}

.zindex-1 {
  z-index: -1;
}

.zindex1 {
  z-index: 1;
}

.zindex10 {
  z-index: 10;
}

.zindex100 {
  z-index: 100;
}

.zindex1000 {
  z-index: 1000;
}

.zindex10000 {
  z-index: 10000;
}

.zindex100000 {
  z-index: 100000;
}

.opacity-1 {
  opacity: 1;
}

.opacity-05 {
  opacity: 0.5;
}

.gradido-global-color-blue {
  color: #0e79bc;
}

.gradido-global-color-accent {
  color: #047006;
}

.gradido-global-border-color-accent {
  border-color: #047006 !important;
}

.gradido-global-border-color-danger {
  border-color: rgb(140 5 5) !important;
}

.gradido-global-color-gray {
  color: #858383;
}

.gradido-custom-background {
  background-color: #ebebeba3 !important;
  border-radius: 25pt !important;
}

.gradido-bg-f5 {
  background-color: #f5f5f5 !important;
}

.gradido-bg-orange {
  background-color: rgb(197 141 56) !important;
}

.gradido-width-300 {
  width: 300px;
}

.gradido-width-96 {
  width: 96%;
}

.gradido-border-radius {
  border-radius: 26px!important;
  overflow: hidden;
}

.gradido-no-border-radius {
  border-radius: 0;
}

.gradido-no-border {
  border: 0;
}

.gradido-font-15rem {
  font-size: 1.5rem;
}

.list-group-item {
  background-color: rgb(255 255 255 / 0%);
}

.pulse {
  box-shadow: 0 0 0 #c58d38;
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #c58d387e;
  }

  70% {
    box-shadow: 0 0 0 10px rgb(204 169 44 / 0%);
  }

  100% {
    box-shadow: 0 0 0 0 rgb(204 169 44 / 0%);
  }
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #c58d387e;
  }

  70% {
    box-shadow: 0 0 0 20px rgb(204 169 44 / 0%);
  }

  100% {
    box-shadow: 0 0 0 0 rgb(204 169 44 / 0%);
  }
}

.transparent-button {
  background-color: transparent;
  border: none;
}

.text-color-gdd-yellow {
  color: rgb(197 141 56);
}

.gdd-toaster-body {
  color: rgb(255 255 255);
}

.gdd-toaster-body-darken {
  color: #2c2c2c;
}

input.rounded-input {
  border-radius: 17px;
}

.fs-7 {
  font-size: 14px !important;
}

.vue3-avatar.container {
  padding: 0 !important;
}

.avatar {
  font-family: inherit !important;
  font-weight: normal !important;
}

$dark: #171717;
$mode-toggle-bg: #262626;

nav.bg-light-dark a.nav-link {
  color: #a7ffa9 !important;
}
